.block-heading {

  font-size: 30px;
  background-color: #f2f6f8;
  color: $brand-primary;
  padding: 30px;
  margin-top: 0;
  margin-bottom: $line-height-computed;
  font-family: 'Cuprum','Helvetica','Verdana',sans-serif;
  text-transform: uppercase;

  &--module {

    background-color: #f7f3ec;

  }

  &__button {

    min-width: 250px;
    display: inline-block;
    vertical-align: top;
    padding: 11px 10px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Cuprum','Helvetica','Verdana',sans-serif;
    font-size: 14px;
    float: right;
    background-color: $brand-danger;
    border-radius: $border-radius-base;

    &:hover, &:focus {

      background-color: #ca2c37;
      color: #ffffff;

    }

    &:active {

      background-color: #ba2732;
      color: #ffffff;

    }

  }

}
