.btn {

  //
  &-panel {

    @extend .btn;
    @extend .btn-block;
    @include button-size(11px, 11px, 17px, 1, 0);

    &-primary {

      @include button-variant(rgba(255,255,255,1), $brand-primary, transparent);

      &--alert {

        @include button-variant(rgba(255,255,255,1), $brand-danger, transparent);

      }

    }

    &-checkout {

      @include button-variant(#ffffff, $brand-success, transparent);

    }

    &:active .btn__content {

      color: rgba(255,255,255,0.5);

    }

  }

  // Text style inside button
  &__content {

    display: inline-block;
    vertical-align: middle;

  }

  // Imaged buttons
  &-bookmark, &-cart {

    .btn__content {

      position: relative;
      padding-left: 20px;

      &::before {

        display: inline-block;
        position: absolute;
        left: -5px;
        font-family: 'symbols-technomart';
        font-size: 17px;
        color: rgb(255,255,255);
        color: rgba(255,255,255,0.5);

      }

    }

    // Hover button text transition
    &:hover .btn__content {

      // Hover button image transition
      &::before {

        color: rgba(255,255,255,1);

      }

    }

    &:active .btn__content::before {

      color: rgba(255,255,255,0.5);

    }

  }

  // Image for button
  &-bookmark .btn__content {

    &::before {

      content: '\1f516';

    }

  }

  // Image for button
  &-cart .btn__content {

    &::before {

      content: '\62';

    }

  }

}
