.category-desc {

  background-color: #f2f6f8;
  padding: 60px 0;

  &__heading {

    font-size: 30px;
    font-family: 'Cuprum','Helvetica','Verdana',sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;

  }

}
