.contacts {

  padding: 0;

  &__address {

    color: $brand-primary;
    font-size: 14px;
    font-family: 'Cuprum','Helvetica','Verdana',sans-serif;
    text-align: left;
    padding-left: 20px;

    .page-footer & {

      color: #ffffff;
      font-size: 18px;
      padding-left: 0;

    }

  }

  &__phone {

    position: relative;
    font-size: 21px;
    font-family: 'Cuprum','Helvetica','Verdana',sans-serif;
    color: $brand-danger;
    padding: 4px 36px;
    border: 3px solid #ffffff;
    margin: 0 auto 5px auto;
    text-align: center;

    &::before {

      content: '\1f4de';
      font-family: 'symbols-technomart';
      position: absolute;
      display: inline-block;
      font-size: 22px;
      color: #b7bfc8;
      left: 13px;

    }

  }


}
