.logo-text {

  font-family: 'Cuprum';
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  background-color: $brand-danger;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
  text-shadow:  1px 1px 0 darken($brand-danger, 20%),
                2px 2px 0 darken($brand-danger, 20%),
                3px 3px 0 darken($brand-danger, 20%),
                4px 4px 0 darken($brand-danger, 20%),
                5px 5px 0 darken($brand-danger, 20%),
                6px 6px 0 darken($brand-danger, 20%),
                7px 7px 0 darken($brand-danger, 20%),
                8px 8px 0 darken($brand-danger, 20%),
                9px 9px 0 darken($brand-danger, 20%),
                10px 10px 0 darken($brand-danger, 20%),
                11px 11px 0 darken($brand-danger, 20%),
                12px 12px 0 darken($brand-danger, 20%),
                13px 13px 0 darken($brand-danger, 20%),
                14px 14px 0 darken($brand-danger, 20%),
                15px 15px 0 darken($brand-danger, 20%),
                16px 16px 0 darken($brand-danger, 20%),
                17px 17px 0 darken($brand-danger, 20%),
                18px 18px 0 darken($brand-danger, 20%),
                19px 19px 0 darken($brand-danger, 20%),
                20px 20px 0 darken($brand-danger, 20%),
                21px 21px 0 darken($brand-danger, 20%),
                22px 22px 0 darken($brand-danger, 20%),
                23px 23px 0 darken($brand-danger, 20%),
                24px 24px 0 darken($brand-danger, 20%),
                25px 25px 0 darken($brand-danger, 20%),
                26px 26px 0 darken($brand-danger, 20%),
                27px 27px 0 darken($brand-danger, 20%),
                28px 28px 0 darken($brand-danger, 20%),
                29px 29px 0 darken($brand-danger, 20%),
                30px 30px 0 darken($brand-danger, 20%),
                31px 31px 0 darken($brand-danger, 20%),
                32px 32px 0 darken($brand-danger, 20%),
                33px 33px 0 darken($brand-danger, 20%),
                34px 34px 0 darken($brand-danger, 20%),
                35px 35px 0 darken($brand-danger, 20%),
                36px 36px 0 darken($brand-danger, 20%),
                37px 37px 0 darken($brand-danger, 20%),
                38px 38px 0 darken($brand-danger, 20%),
                39px 39px 0 darken($brand-danger, 20%),
                40px 40px 0 darken($brand-danger, 20%),
                41px 41px 0 darken($brand-danger, 20%),
                42px 42px 0 darken($brand-danger, 20%),
                43px 43px 0 darken($brand-danger, 20%),
                44px 44px 0 darken($brand-danger, 20%),
                45px 45px 0 darken($brand-danger, 20%);
  padding: 4px 10px;
  display: block;
  overflow: hidden;

  &:hover, &:focus {

    color: #fff;
    background-color: #ca2c37;
    outline: none;

  }

  &:active {

    background-color: #ba2732;

  }

  .page-footer & {

    padding: 10px 2em;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;

  }

}
