.menu {

  .page-header & {

    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style-type: none;
    display: table;
    width: 100%;
    background-color: $brand-primary;
    @include box-shadow(inset 0 -5px 0 0 #1d2739);

    &__item {

      display: table-cell;

      & > a, & > span {

        display: block;
        touch-action: manipulation;
        padding: 21px 20px;
        font-size: 17px;
        line-height: 1.1;
        color: #ffffff;
        text-align: center;
        font-family: 'Cuprum';

      }

      & > a {

        &:hover,
        &:focus {

          color: #ffffff;
          background-color: #212a3a;

        }

        &:active {

          color: rgb(255,255,255);
          color: rgba(255,255,255,0.5);
          background-color: #161d29;

        }

      }

      &--active > span {

        color: rgb(255, 255, 255);
        color: rgba(255, 255, 255, 0.5);
        background-color: #161d29;
        margin-bottom: -5px;

      }

    }

  }

}
