.page-header {

  background-color: $sky;
  padding-bottom: 60px;
  margin-bottom: $line-height-computed;

  &__user-panel {

    background-color: $brand-primary;
    margin-bottom: $line-height-computed*3;


  }

  [class^='col-'] {

    padding: 0;

  }

  &__wrapper {

    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;

  }

  &__mid-row {

    margin-bottom: 20px;

  }

}
