.product-sort {

  text-transform: uppercase;
  background-color: #f7f3ec;
  padding: 10px 18px;
  @include border-bottom-radius(3px);
  @include border-top-radius(3px);
  margin-bottom: $line-height-computed;

  &__sort-link {

    color: rgb(196,193,187);
    color: rgba(0,0,0,0.3);
    display: inline-block;
    border-bottom: 1px dotted $brand-danger;
    line-height: 1;

    &:hover {

      color: rgb(0,0,0);
      border-bottom-style: solid;

    }

    &:active {

      border-bottom: none;
      color: $brand-danger;

    }

  }

  &__direction {

    border-top: 9px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 6px solid transparent;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;

    &-asc {

      border-top-color: #c6c2bd;
      border-bottom-width: 0;
      margin-right: 10px;

      &:hover {

        border-top-color: $gray-base;

      }

      &--active {

        border-top-color: $brand-danger;

      }

    }

    &-desc {

      border-bottom-color: #c6c2bd;
      border-top-width: 0;

      &:hover {

        border-bottom-color: $gray-base;

      }

      &--active {

        border-bottom-color: $brand-danger;

      }

    }

  }

}
