.product-block {

  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 0;

  &:last-child {

    border-right-color: transparent;

  }

  &:hover {

    box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);
    z-index: 2;

    .product-block__button-block {

      display: block;

    }

    .product-block__img img {

      display: none;

    }

  }

  &__img {

    height: 200px;
    width: 100%;
    text-align: center;

    img {

      max-width: 100%;
      height: auto;
      max-height: 100%;

    }

  }

  &__info {

    padding: 0 10% 25px;

  }

  &__code {

    text-align: center;
    color: #a4a4a4;

  }

  &__name {

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;

    a {

      text-decoration: underline;

      &:hover {

        text-decoration: none;

      }

    }

  }

  &__in-stock {

    color: $brand-success;
    text-align: center;
    padding: 3px 5px;
    font-weight: bold;

  }

  &__old-price {

    color: #999999;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: line-through;
    font-weight: bold;
    text-align: center;

  }

  &__price {

    text-align: center;

    &-wrap {

      text-align: center;
      color: #ffffff;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: bold;
      background-color: $brand-danger;
      padding: 6px 15px;
      display: inline-block;
      @include border-bottom-radius(3px);
      @include border-top-radius(3px);
      position: relative;
      min-width: 115px;

      &::after {

        content: '';
        border: 17px solid transparent;
        border-left-color: $brand-danger;
        position: absolute;
        right: -33px;
        top: 0;

      }

    }

  }

  &__button-block {

    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
    padding: 0 20%;

  }

  &__button {

    text-transform: uppercase;
    display: block;
    font-size: 14px;
    border-radius: $border-radius-base;
    padding: 10px;
    text-align: center;
    font-family: 'Cuprum','Helvetica','Verdana',sans-serif;
    margin-bottom: 7px;

    &-buy {

      background-color: $brand-success;
      border-bottom: 3px solid #367315;
      color: #ffffff;
      padding-top: 13px;
      padding-bottom: 7px;

      & > span {

        position: relative;
        display: inline-block;
        padding-left: 20px;
        vertical-align: middle;

        &::before {

          content: '\62';
          font-family: 'symbols-technomart';
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          line-height: 1em;
          font-size: 17px;
          left: 0;
          color: rgb(255,255,255);
          color: rgba(255,255,255,0.3);

        }

      }

      &:hover, &:focus {

        color: #ffffff;
        background-color: #5fbb2d;

      }

      &:active {

        color: #ffffff;
        background-color: #518534;
        border-bottom-color: transparent;

      }

    }

    &-add-bookmark {

      background-color: #ffffff;
      border: 3px solid $brand-success;

      &:hover, &:active {

        border-color: $brand-primary;

      }

      &:active {

        border-color: rgb(193,198,206);
        border-color: rgba(50,66,92,0.3);
        color: rgb(193,198,206);
        color: rgba(50,66,92,0.3);

      }

    }

  }

}
