nav.container
  ul.breadcrumbs
    li.breadcrumbs__item.breadcrumbs__item-home: a(href='#')
    li.breadcrumbs__item: a(href='#') Інструмент
    li.breadcrumbs__item.breadcrumbs__item--active: span Перфоратори
