section.category-desc
  .container
    h1.category-desc__heading Декілька слів про перфоратори
    p Перфоратор — універсальний будівельний інструмент. Предназначен для сверления и долбления отверстий в кирпиче,
      | бетоне и камне. Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять
      | функции дрели, шуруповерта и отбойного молотка. В ассортиментном ряду есть выбор «трехрежимников»: в одном
      | устройстве будут совмещены отбойный молоток и ударная дрель.
