nav
  ul.menu
    - var list = ['Гловна','Каталог','Про Нас','Знижки','Спецпропозиції','Доставка','Контакти']
    each item in list
      if item == 'Каталог'
        li.menu__item: span= item
      else
        li.menu__item: a.menu__link(href='#')= item
