.header
  .header__user-panel
    .container
      .row

        // І-нет магазин
        .col-md-3
          .logo-text Інтеренет магазин

        // Пошук
        .col-md-3
          .search
            .form-group
              input.form-control.search__field(type='text' name='search' placeholder='Пошук')
        .col-md-2
          a.btn.panel-btn.panel-btn-bookmark(href='#') Закладки
        .col-md-2
          a.btn.panel-btn.panel-btn-bookmark(href='#') Оформити
        .col-md-2
          a.btn.panel-btn.panel-btn-bookmark(href='#') Корзина

  .container
    .row
      .col-md-4
        a.logo: img(src='http://placehold.it/277x58')

      .col-md-4
        include phone
        include address
      .col-md-4
        include user-block

    .row
      .col-md-12
        include menu

