header.page-header
  .page-header__user-panel
    .container
      .row
        .page-header__wrapper
          // І-нет магазин
          .col-md-3
            a.logo-text(href='#') Інтеренет магазин

          // Пошук
          .col-md-3

            .form-group.search
              input.form-control.search__field#search(type='text' name='search' value='Пошук:')
              span.search__icon

          .col-md-2

            a.btn-panel.btn-panel-primary.btn-bookmark(href='#')
              span.btn__content Закладки:
                span 0

          .col-md-2
            a.btn-panel.btn-panel-primary.btn-cart.btn-panel-primary--alert(href='#')
              span.btn__content Корзина:
                span 0

          .col-md-2
            a.btn-panel.btn-panel-checkout(href='#')
              span.btn__content Оформити

  .container
    .row.page-header__mid-row
      .page-header__wrapper
        .col-md-3
          a.logo(href='#')

        .col-md-3.col-md-offset-1
          include phone
          include address

        .col-md-4.col-md-offset-1
          include user-block

    .row
      .page-header__wrapper
        include menu

