.product-sort
  .row
    .col-md-3
      span.product-sort__label Сортувати:
    .col-md-3
      a.product-sort__sort-link(href='#') По ціні
    .col-md-3
      a.product-sort__sort-link(href='#') По назві
    .col-md-3
      .row
        .col-xs-12
          a.product-sort__direction.product-sort__direction--asc(href='#') За зростанням
        .col-xs-12
          a.product-sort__direction.product-sort__direction--desc(href='#') За спаданням
