article.product
  .product__label-new Новинка
  .product__img
    img(src='http://placehold.it/220x174')
  .product__code Код товару: (82172)
  h1.product__name Перфоратор BOSCH BFG 3000
  .product__in-stock На складі: 4 шт.
  .product__old-price 2854.00 ГРН
  .product__price 2530.00 ГРН
  .product__button-block
    a.btn.btn-buy(href='#') В корзину
    a.btn.btn-bookmark(href='#') В закладки
