ul.social
  li.social__item: a.social__link.social__link--vk(href='#') Вконтакті
  li.social__item: a.social__link.social__link--fb(href='#') Facebook
  li.social__item: a.social__link.social__link--tw(href='#') Однокласники
