.user-block
  .user-block__account
    a.user-block__office(href='#') Базалій Юрій
    a.user-block__logout(href='#') Вихід
  ul.user-block__link-list
    li.user-block__link-element
      a(href='#') Мої замовлення
    li.user-block__link-element
      a(href='#') Власний кабінет
