.user-block
  a.user-block__user-office(href='#') Базалій Юрій
  ul.user-block__user-link-list
    li.user-block__user-link-element
      a(href='#') Мої замовлення
    li.user-block__user-link-element
      a(href='#') Власний кабінет
