doctype html
html(class='no-js' lang='uk')
  head
    title Пляц - Великий Будівельний Магазин
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css

    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/Headhesive.js/dist/headhesive.js')
    // endbower
    // endbuild
  body

    include jade/blocks/page-header

    include jade/mixins/tile

    .page-content.container
      .custom-block
        .row
          .col-md-4
            +tile('Фарби','На будь-який смак')(class='tile--paint new')
          .col-md-4
            +tile('Інструмент','На любі випадки')(class='tile--tools')
          .col-md-4
            +tile('Механізми','Для будови')(class='tile--mechanism')

        .row
          .col-md-8
            .slider
          .col-md-4
            +tile('Знижки до 10%','На 5000 товарів')(class='tile--discount')
            +tile('Доставка','Безкоштован*')(class='tile--delivery new')

      .module.module--popular
        h2.block-heading.block-heading--module Популярні товари:
          a(href='#').block-heading__button Усі популярні товари
        .products
          .products__row
            article.col-md-3.product-block.new
              include jade/blocks/product-block
            article.col-md-3.product-block
              include jade/blocks/product-block
            article.col-md-3.product-block
              include jade/blocks/product-block
            article.col-md-3.product-block
              include jade/blocks/product-block

      .module.module--last
        h2.block-heading.block-heading--module Останні надходження:
          a(href='#').block-heading__button Усі останні надходження
        .products
          .products__row
            article.col-md-3.product-block
              include jade/blocks/product-block
            article.col-md-3.product-block
              include jade/blocks/product-block
            article.col-md-3.product-block
              include jade/blocks/product-block
            article.col-md-3.product-block.new
              include jade/blocks/product-block




    include jade/blocks/page-footer

      // build:js scripts/plugins.js

      script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
      script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
      // endbuild

      // build:js scripts/main.js
      script(src='scripts/main.js')
      // endbuild
