doctype html
html(class='no-js' lang='uk')
  head
    title Пляц - Великий Будівельний Магазин
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css

    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js

    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild

    // build:js scripts/vendor.js
    // bower:js

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/Headhesive.js/dist/headhesive.js')
    // endbower
    // endbuild

  body
    include jade/blocks/page-header
    include jade/blocks/breadcrumbs



    include jade/blocks/page-footer

    // build:js scripts/plugins.js

    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    // endbuild

    // build:js scripts/main.js

    script(src='scripts/main.js')
    // endbuild
