header.page-header
  .panel
    .container.clearfix

      // І-нет магазин

      a.logo-text.col-md-3(href='#') Інтеренет магазин

      // Пошук
      .search.col-md-3.col-sm-3.col-xs-6
        input.search__field#search(type='text' name='search' value='Пошук:')
        span.search__icon

      a.panel__button.panel__button-bookmark.col-md-2.col-sm-3.col-xs-6(href='#')
        span.panel__button-inner.panel__button-bookmark-inner Закладки:
          span 0


      a.panel__button.panel__button-cart.panel__button-cart--contained.col-md-2.col-sm-3.col-xs-6(href='#')
        span.panel__button-inner.panel__button-cart-inner Корзина:
          span 0


      a.panel__button.panel__button-checkout.col-md-2.col-sm-3.col-xs-6(href='#')
        span.panel__button-inner.panel__button-checkout-inner Оформити

  .container
    .clearfix

      a.logo.col-md-3(href='#')

      .contacts.col-md-3.col-md-offset-1
        include contacts

      .user-block.col-md-4.col-md-offset-1
        include user-block

    include menu

