.product-block__img
  a(href='#')
    img(src='../images/bosch@1x.jpg')
.product-block__info
  .product-block__code Код товару: (82172)
  h1.product-block__name
    a(href='#') Перфоратор BOSCH BFG 3000
  .product-block__in-stock На складі: 4 шт.
  .product-block__old-price 2854.00 ГРН/
    span.product-block__unit шт.
  .product-block__price
    .product-block__price-wrap 2530.00 ГРН/
      span.product-block__unit шт.
  .product-block__button-block
    a.product-block__button.product-block__button-buy(href='#')
      span В корзину
    a.product-block__button.product-block__button-add-bookmark(href='#')
      span В закладки
