.product-sort
  .row
    .col-md-7
      span.product-sort__label Сортувати:
    .col-md-2
      a.product-sort__sort-link(href='#') За ціною
    .col-md-2
      a.product-sort__sort-link(href='#') За назвою
    .col-md-1
      a.product-sort__direction.product-sort__direction-asc(href='#') За зростанням
      a.product-sort__direction.product-sort__direction-desc(href='#') За спаданням
